<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TutorConnect : Dashboard</title>
  </head>
  <body>
    <%= link_to "Log Out", logout_path %>

    <h1>Welcome to the dashboard.</h1>
    <h2>Bio:</h2>
      <%=current_user.bio %>
    <h3>Send a message</h3>
    <form action="/create_message" method="post">
      <input type="message" name="message" placeholder="message"/>
      <button>Submit</button>
    </form>
  </body>
</html>
