<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TutorConnect</title>
  </head>
  <body>
    <%= link_to "Log Out", logout_path %>
    <h1>Tell us about yourself and what you would like to tutor in . . .</h1>
    <form action="/dashboard_update_bio_subjects" method="post">
      <input type="bio" name="user[bio]" placeholder="userbio">
      <input type="subjects" name="user[subjects]" placeholder="subjects">
      <button>Submit</button>
    </form>
  </body>
</html>
