/*defines default styles and background*/

html, body{
	display: block;
	position: relative;
	width: 100%;
	margin:0;
	text-align:left;
	padding: 0;
	font-size: 20px;
	color: #222;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 300;
}

/*********************************************************/
/*********************************************************/
/*Header Container*/
/*********************************************************/
/*********************************************************/
.header-container{
	height: 120px;
	width: 100%;
	position: relative;
	display: inline-block;
	background-color: #faf5ed;
	text-align: center;
	font-size: 4vw;
}
.logo-container{
	height:90px;
	margin-top: 40;
	padding-top: 20px;
	align-content:center;
}


/*********************************************************/
/*********************************************************/
/*Body*/
/*********************************************************/
/*********************************************************/

/*defines page size*/
.body-container{
	width:100%;
	/*height:1500px;*/
	position:absolute;
	background-color: #5582b5;
	/* background-image: url("tutor_landing_pic_reversed.png"); */
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1000;
}

/*defines navigation container size*/
.nav-container {
	display: inline-block;
	position:relative;
	margin: 0% 4% 4%;
	width: 92%;
}

/*defines size for logo*/
.nav-container a img{
	position: inherit;
    width:calc(100px + 12%); /*calc method calculates static size (px) + responsive size (%) to determine min and max image size*/
}

/*defines navigation content container*/
.nav-bar {
	display:flex;
	position:relative;
	float:right;
	margin:0;
  padding:3% 0;
}

/*defines vertical constraints for landing page main text: TutorConnect;*/
.banner{
	display:block;
	padding:5% 0 25% 0;
	color:#faf5ed;
	text-align: center;
	font-size: 11vw;
	margin:0;
	background: rgb(70,70,70);
	background: linear-gradient(0deg, rgba(70,70,70,0.6923144257703081) 11%, rgba(255,255,255,0) 78%);*/
}


/*********************************************************/
					/*Slideshow*/ /*IGNORE* THIS IS FOR LATER USE*/
/*********************************************************/
.churchSlides{
	display:none;
	position:relative;

}

.slideshow-container{

	position:relative;
	margin:auto;

}
.slideshow-container img{
	width:100%;
	height:700px;
	object-fit:cover;

}
.slideshow-texts{
	position:absolute;
	color:white;
	width

	font-size:25px;
	bottom:8px;
	left:8px;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/*********************************************************/
					/*Landing Container*/
/*********************************************************/
/*defines styles for "On God"*/
.landing-container .banner h1{
	color: #fffede;
	text-align: center;
	display:block;
	font-size:calc(72px + 12vh);
	margin:0;
}

/*position of white background image(s)*/
.bg-img{
	position: absolute;
	width: 100%;
	z-index: -1;
}

/*defines navigation content (not container, see above)*/
.nav-contents {
	padding: 0;
	margin: 0;
    text-align: right;
}

/*defines individual navigation tabs*/
.nav-contents a {
	padding: 10px;
	margin: 0;
	font-size: calc(10px + .9vw); /*calc method calculates static size (px) + responsive size (vw) to determine min and max font-size*/
	font-weight: bold;
	color: #000;
	transition: 0.2s;
}

.download-app{
	display: block;
	font: verdana;
	font-weight:bold;
	font-size: calc(10px + .9vw);;
	text-align: center;
	float:center;
	padding:1%;
	margin-left:35%;
	margin-right: 35%;
	background-color:#faf5ed; /*lighter creme color*/
	border-radius:10px;
}

.salmon-color{
	color:#ff7369;
}
.chalkboard-color{
	color:#20494F;
}
.dark-color{
	color:#2A2B2DFF;
}
.creme-color{
	color:#faf5ed
}

.nav-contents a:hover {
/*defines style for background PROceeding "landing-container"*/
	color:#ff7369; /*salmon color*/
}

.contents{
	/*background-color:#f2e7d0; /*Creme Colour*/
	/*background-color:#d5e0fe; /*light lavender*/
	/*background-color:#3fc1c9; /*turquoise*/
	/*background-color:#759ECA; /*pastel blue*/
	background-color:#20494F; /*chalkboard color*/
	z-index:-1;
	position: relative;

}

/*********************************************************/
					/*Story Container*/
/*********************************************************/
/*defines size of "story-container"*/
.story-container{
	height:600px;
	z-index:1;
}

/*defines size of top half of story container*/
.top-container{
	width: 60%;
	margin: 0 20%;
	padding: 5% 0;
}

/*defines siZe of bottom half of story container*/
.bottom-container{
	width: 60%;
	margin: 0 20%;
	padding: 5% 0;
}
/*manipulates the 3 columns: step 1, step 2, step 3. And its contents.*/
.column{
	float:left;
	color:#ff7369; /*salmon color*/
	text-align: center;
	font-size: calc(8px + .9vw);
}
.left{
	width:33.33%;
}
.right{
	color:#2A2B2DFF; /*dark color*/
	width:33.33%;
}
.middle{
	color:#faf5ed; /*creme colour*/
	width:33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*********************************************************/
					/*Services Container*/
/*********************************************************/

/*defines size of "services-container"*/
.services-container{
	background-color:#faf5ed; /*creme color*/
	z-index:1;
	text-align: center;
	height:600px;
	width: 100%;
	margin: 0%;
	padding: 5% 0;
}

/*overwrites default margins*/
.services-container h3{
	margin:0;
}

/*overwrites default margins*/
.services-container p{
	margin-top:0;
}

/*********************************************************/
					/*Video Container*/
/*********************************************************/
/*defines size of "vid-container"*/
.vid-container{
	background-color:#ff7369; /*salmon color*/
	height:600px;
	z-index:1;
}

.vid-content{
	width: 60%;
	margin: 0 20%;
	padding: 5% 0;
}

.vid-content img{
	width: 100%;
	z-index:0;
	position: relative;
}



/*********************************************************/
/*********************************************************/
/*Footer*/
/*********************************************************/
/*********************************************************/

/*defines styles of "footer-container", assigns red bg image*/
.footer-container{
	position: absolute;
	left:0;
	width:100%;
	height: calc(200px + 1.5vw);
	/*background-image: url("images/assets/footer-bg.png");*/
	background-color: #2A2B2DFF; /*dark color*/
	background-size: calc(1600px + 8%);
	background-repeat: no-repeat;
	z-index:-1;
	background-position:bottom;
}


/*defines size of "top-footer" container*/
.top-footer {
	width:60%;
	margin: calc(40px + 2.5%) 20% 0 20%;
	height:120px;
}

/*defines size of social media icons*/
.footer-icon{
	position: relative;
	width:calc(30px + 10%);
	opacity:.7;
}

/*defines left container for social media*/
.sm-container{
	width:30%;
	float:left;
}

.sm-container a img{
	vertical-align: bottom;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	transition: 0.2s;
}
.sm-container a img:hover {
	opacity: 1;
}

/*defines right contaainer for jewsletter subscription*/
.sub-container{
 width:30%;
 float:right;
}

/*overwrites default margins*/
.sub-container p{
	margin:0;
	font-size: calc(8px + 1vw);
}

/*defines size of "bottom-footer" container*/
.bottom-footer{
	width:80%;
	margin: 0 10%;
	text-align:center;
	display: inline-block;
}

/*defines "contact" container*/
.contact{
	display: inline-block;
}

/*defines styles for contact info*/
.contact pre{
	margin:0;
	display:inline-block;
	text-align:center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: calc(8px + 1vw);
}


a{
	text-decoration: none;
	color:#000;
	align-content: center;
	width: 60%;
}


/*********************************************************/
/*********************************************************/
/*Login/Register Form*/
/*********************************************************/
/*********************************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
	height: 800px;
  	background: url("tutor_landing_pic_reversed.png") no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	z-index: -1000;
}
.login-logo {
	height:50px;
	display: contents;
}
.register-page {
	height: 1000px;
	background: url("tutor_landing_pic_reversed.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -1000;
}
form{
	display: block;
	margin-top: 20px;
}
.form {
	position: relative;
	height: 500px;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	padding-top: 60px;
	padding-bottom: 100px;
	top: 40px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #faf5ed;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #ff7369;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
	background: #902c19;
}
.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}
.form .message a {
	color: #2A2B2DFF; /*dark color*/
	text-decoration: none;
}
.form .register-form {
 	display: none;
}
.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}
.container:before, .container:after {
	content: "";
	display: block;
	clear: both;
}
.container .info {
	margin: 50px auto;
	text-align: center;
}
.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}
.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}
.container .info span a {
	color: #000000;
	text-decoration: none;
}
.container .info span .fa {
 	color: #EF3B3A;
}

form{
	display: block;
	margin-top: 20px;
}
.form2 {
	position: relative;
	height: 350px;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	padding-top: 60px;
	padding-bottom: 100px;
	top: 40px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form2 input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #faf5ed;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form2 button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #ff7369;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form2 button:hover,.form2 button:active,.form2 button:focus {
	background: #902c19;
}
.form2 .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}
.form2 .message a {
	color: #2A2B2DFF; /*dark color*/
	text-decoration: none;
}
.form2 .register-form {
 	display: none;
}
/*body {
  background: #76b852; /* fallback for old browsers don't use this you idiot lmfao
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F); /*fuck this one honestly holy shit fuck
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
