<footer class="footer-container" id ="footer">
    <div class="top-footer">
        <div class="sm-container">
            <a href="https://www.facebook.com/FurryMate/"><img class="footer-icon" src="fb-sm.png" alt="facebook"/></a>                    <!--facebook link-->
            <a href="https://www.youtube.com/watch?v=Sc_GJMOtblM"><img class="footer-icon" src="yt-sm.png" alt="youtube"/></a>                    <!--youtube link-->
        </div>
        <div class="sub-container">
            <p>Subscribe to our Newsletter</p>
            <form>
                <input type="text" placeholder="Pray4NY@godmail.com"/>
            </form>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="contact">
            <pre>57-04 Roosevelt Ave, Woodside, NY 11377</pre>
            <pre>(917) 291-9158          FLC@ChurchNY.com</pre>
        </div>
    </div>
</footer>
