<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Invalid Credentials</title>
  </head>
  <body>
    <h1><font color="red">401 Error :: Unauthorized User<font></h1>
    <h2><font color="black">Please either login or create an account<font></h2>
    <%= link_to "Login", "login.html" %>
    <%= link_to "Sign Up", "register.html"%>
  </body>
  <body>
    <h3>This error may have occured because you entered an incorrect username or password. You may also not be registered. Please try again.</h3>
  </body>
</html>
