<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="global.css">
  <body>
    <div class = "register-page">
      <div class= "form">
        <div class = "login-logo">
          <%= link_to image_tag("logoRemastered2.png"), root_path %>
        </div>
        <form class="login-form">
          <input type="text" placeholder="first name"/>
          <input type="text" placeholder="last name"/>
          <input type="text" placeholder="username"/>
          <input type="text" placeholder="email address"/>
          <input type="password" placeholder="password"/>
          <input type="confirm password" placeholder="confirm password"/>
          <button>Register</button>
          <p class="message">Already registered? <a href="login.html">Sign In</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
