<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Invalid Credentials</title>
  </head>
  <body>
    <h1><font color="red">Already Requested a message to this user!<font></h1>
    <%= link_to "Dashboard", "dashboard.html" %>
  </body>
</html>
