<%-# Chat goes here -%>

<div class="chat container no-gutter card shadow" style="font-size: 0.8rem;">
	<div class = "row">
		<div class="chat-users-panel col-md-4">
			<div class="card-header">Your Chats</div>
			<ul class = "list-group list-group-flush text-truncate  d-sm-none d-md-block">
				<li class = "chat-user list-group-item d-flex justify-content-between align-items-center">
					#name
					<span class="badge badge-primary badge-pill"></span>
				</li>
			</ul>
		</div>
		<div class="col-md-8 border-right-0 border-dark">
			<div class="chat-log-panel">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Username</li>
						<li class="list-group-item border-0">hey</li>
						<li class="list-group-item border-0 text-right">no im busy</li>
					</ul>
			</div>
			<div class="input-group mb-3">
				<input type="text" name= ""class="form-control" placeholder="Type your message here" aria-label="chat-textbox" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>
