// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Defining palate with SCSS variables
$salmon-color: #ff7369;
$chalkboard-color: #20494F;
$dark-color:#2A2B2DFF;
$creme-color:#faf5ed;

//Header component classes
.dashHeader{
    background-color: $creme-color;
}


//Bio component classes
.bio {
    position: relative;
    width:100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}

.bio-container {
    left: 45px;
    top: 403px;
    width: 100%;
    height: 110px;
    border-style: solid;
    border-width: thin;


}

.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-right: auto;
    text-align:left;
}

.profile-pic-container {
    left: 45px;
    top: 163px;
    width:100%;
    height: 214px;
    border-style: solid;
}