<footer class="footer-container" id ="footer">
    <div class="top-footer">
        <div class="sm-container">
            <a href="https://www.facebook.com/"><img class="footer-icon" src="fb-sm.png" alt="facebook"/></a>                    <!--facebook link-->
            <a href="https://www.youtube.com/"><img class="footer-icon" src="yt-sm.png" alt="youtube"/></a>                    <!--youtube link-->
        </div>
        <div class="sub-container">
            <p>Subscribe to our Newsletter</p>
            <form>
                <input type="text" placeholder="fakeemail@notarealwebsite.com"/>
            </form>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="contact">
            <pre>1400 Washington Ave, Albany NY 12222</pre>
            <pre>(555) 555-5555          fakeemail@notarealwebsite.com</pre>
        </div>
    </div>
</footer>
