<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="footer-container" id ="footer">
    <div class="top-footer">
        <div class="sm-container">
            <!--<p> Follow us on social media! </p>-->
            <a href="https://www.facebook.com/"><img class="footer-icon" src="fb-sm.png" alt="facebook"/></a>
            <!--<a href="#" class="fa fa-facebook"></a>-->
            <style>
            .fa {
                padding: 20px;
                font-size: 30px;
                width: 50px;
                text-align: center;
                text-decoration: none;
                color: blue;
              }
              
              /* Add a hover effect if you want */
              .fa:hover {
                opacity: 0.7;
              }
              </style>
            <a href="https://www.youtube.com/"><img class="footer-icon" src="yt-sm.png" alt="youtube"/></a>
            <!--<a href="#" class="fa fa-youtube"></a>-->
        </div>
        <div class="sub-container">
            <p>Subscribe to our Newsletter</p>
            <form>
                <input type="text" placeholder="fakeemail@notarealwebsite.com"/>
            </form>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="contact">
            <pre>1400 Washington Ave, Albany NY 12222</pre>
            <pre>(555) 555-5555          fakeemail@notarealwebsite.com</pre>
        </div>
    </div>
</footer>
