<!DOCTYPE html>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "home.js"></script>
<script>
	$(document).ready(function(){
	    $('body').hide();
	    $('body').fadeIn(1400);

	    $('.landing-container , .contents').hide();
	    $('.landing-container , .contents').delay(600).fadeIn(2000);

		$('.message a').click(function(){
		$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
	});
</script>
<head> 
    <div class = "header-container">
    	<div class = "logo-container">
    		<%= link_to image_tag("logo2.png"), root_path %>
    	</div>
    </div>
</head>
</html>