<!DOCTYPE html>         
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- ********************           Body             **********************-->
    <div class= "body-container">
        <!-- *********************           Landing container       ***********************-->
        <div class="landing-container">
            <div class="nav-container">
                <!--<%= link_to image_tag("pepe.png"), root_path %>-->
                <div class="nav-bar">
                    <div class="nav-contents">
                        <!--<a href="home.html">HOME</a>-->
                        <!--<a href="#login"><span class ="creme-color">LOGIN</span></a>-->
                        <%= link_to "Login", "login.html" %>  
                        <%= link_to "Sign Up", "/register"%>
                        <!--<a href="#sign-up"><span class="creme-color">SIGN UP</span></a>-->
                    </div>
                </div>
            </div>
            <div class="banner">
                <span class = "salmon-color">T</span>utor<span class ="chalkboard-color">C</span>onnect
                
                <%= link_to "<div class=\"download-app\">
                    <span class=\"chalkboard-color\">SIGN</span>
                    <span class =\"chalkboard-color\">UP</span>
                    <span class =\"salmon-color\">NOW</span>
                    </div>".html_safe, "/register"%>
                
            </div>
        </div>
    </div>
</body>
</html>
