<!DOCTYPE html>         
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- ********************           Body             **********************-->
    <div class= "body-container">
        <!-- *********************           Landing container       ***********************-->
        <div class="landing-container">
            <div class="nav-container">
                <!--<%= link_to image_tag("pepe.png"), root_path %>-->
                <a href="landing.html.erb"><img src="pepe.png" alt="Logo Placeholder"></a>
                <div class="nav-bar">
                    <div class="nav-contents">
                        <!--<a href="home.html">HOME</a>-->
                        <!--<a href="#login"><span class ="creme-color">LOGIN</span></a>-->
                        <%= link_to "Login", "login.html" %>  
                        <%= link_to "Sign Up", "register.html"%>
                        <!--<a href="#sign-up"><span class="creme-color">SIGN UP</span></a>-->
                    </div>
                </div>
            </div>
            <div class="banner">
                <span class = "salmon-color">T</span>utor<span class ="chalkboard-color">C</span>onnect
                <div class="download-app">
                    <a href="#download">
                        <span class="chalkboard-color">DOWNLOAD</span>
                        <span class ="salmon-color">THE</span>
                        <span class ="salmon-color">APP</span>
                    </a>
                </div>
            </div>

        </div>
        <div class="contents">
            <!-- *********************           Story container       ***********************-->
            <div class="story-container" id="story">                    <!--subject to change-->
                <!--<img class="bg-img" src="images/assets/story-bg.png">-->
                <div class="row">
                    <div class ="column left">
                        <h1>Step 1</h1>
                        <h2>Register and Login</h2>
                    </div>

                    <div class ="column middle">
                        <h1>Step 2</h1>
                        <h2>Choose your campus and subjects</h2>
                    </div>

                    <div class ="column right">
                        <h1>Step 3</h1>
                        <h2>Select a time</h2>
                    </div>
                </div>
                <div class="bottom-container">
                    <p>Lorem Ipsum</p>
                </div>
            </div>

            <!-- *********************           Services container       ***********************-->
            <div class="services-container">
                <h1>Step 4</h1>
                <h2>Choose your tutor!</h2>

            </div>

            <!-- *********************           video container       ***********************-->
            <div class="vid-container" id="video">
                <img class="bg-img" src="images/assets/vid-bg.png" alt="Jeremiah was also here"/>
                <div class="vid-content">
                    <img src="images/assets/vid-placeholder.png" alt="I died for your Sins"/>
                </div>
            </div>
            <!-- *********************           Footer container       ***********************-->
            <div class = footer-container>
                <div class="top-footer">
                    <div class="sm-container">
                        <a href="https://www.facebook.com/FurryMate/"><img class="footer-icon" src="fb-sm.png" alt="facebook"/></a>                    <!--facebook link-->
                        <a href="https://www.youtube.com/watch?v=Sc_GJMOtblM"><img class="footer-icon" src="yt-sm.png" alt="youtube"/></a>                    <!--youtube link-->
                    </div>
                    <div class="sub-container">
                        <p>Subscribe to our Newsletter</p>
                        <form>
                            <input type="text" placeholder="Enter ur email.com"/>
                        </form>
                    </div>
                </div>
                <div class="bottom-footer">
                    <div class="contact">
                        <pre>1400 Washington Ave, Albany, NY 11421</pre>
                        <pre>(917) 291-9158          something.com</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
