<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="global.css">
  <body>
    <div class = "register-page">
      <div class= "form">
        <div class = "login-logo">
          <%= link_to image_tag("logoRemastered2.png"), root_path %>
        </div>
        <div class = "checkbox-container">
          <div class="slider">
            <input type="checkbox" name="slider" class="slider-checkbox" id="sliderSwitch" onclick="check()" checked>
            <label class="slider-label" for="sliderSwitch">
              <span class="slider-inner"></span>
              <span class="slider-circle"></span>
            </label>
          </div>
        </div>
        <form action="/users" method="POST">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
          <input type="hidden" id="is_tutor" name="user[is_tutor]" value="true">
          <input type="username" name="user[username]" placeholder="username"/>
          <input type="email" name="user[email]" placeholder="email address"/>
          <input type="password" name="user[password]" placeholder="password"/>
          <input type="confirm password" name="user[password_confirmation]" placeholder="confirm password"/>
          <button>Register</button>
          <p class="message">Already registered? <a href="login.html">Sign In</a></p>
          <script>
            var count = 1;
            var result = true;
            var x;
            function check()
            {
              count++;
              x = count%2;
              if(x == 1){
                result = true;
              }
              else {
                result = false;
              }
              document.getElementById('is_tutor').value = result;
            }
          </script>
        </form>
      </div>
    </div>
  </body>
</html>
