<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="global.css">
  <body>
    <div class = "register-page">
      <div class= "form">
        <div class = "login-logo">
          <%= link_to image_tag("logoRemastered2.png"), root_path %>
        </div>
        <form action="/users" method="POST">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
          <input type="username" name="user[username]" placeholder="username"/>
          <input type="email" name="user[email]" placeholder="email address"/>
          <input type="password" name="user[password]" placeholder="password"/>
          <input type="confirm password" name="user[password_confirmation]" placeholder="confirm password"/>
          <button>Register</button>
          <p class="message">Already registered? <a href="login.html">Sign In</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
