<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TutorConnect : Settings</title>
  </head>
  <body>
    <h2>USERNAME: <%= @user.username %></h2>
    <h1>BIO: <%= @user.email %></h1>
  </body>
</html>
